<mat-grid-list cols="2" rowHeight="2:2">
  <mat-grid-tile class="grid-tile">
    <mat-card class="signup-card">

      <div class="signup-div">
        <input
          type="text"
          [(ngModel)]="formData.userEmail"
          placeholder="Enter Your Email"
        />
        <input
          type="password"
          [(ngModel)]="formData.userPasswordOne"
          placeholder="Enter Your Password"
        />
        <input
          type="password"
          [(ngModel)]="formData.userPasswordTwo"
          placeholder="Enter Your Password Again"
        />
        <input
          type="text"
          [(ngModel)]="formData.userName"
          placeholder="Enter Your Username"
        />
        <button mat-raised-button (click)="registerUser()" class="submit-button">
          Register!!
        </button>
      </div>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>

