<div class="main-container animated zoomIn">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Add Blog</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field>
        <input
          [(ngModel)]="newBlog.title"
          required
          matInput
          placeholder="Blog Title"
          (keyup)="checkValidation($event)"
        />
      </mat-form-field>
      <mat-form-field>
        <input
          [(ngModel)]="newBlog.description"
          required
          matInput
          placeholder="Short description of blog"
          (keyup)="checkValidation($event)"
        />
      </mat-form-field>
      <mat-form-field>
        <textarea
          [(ngModel)]="newBlog.html"
          (keyup)="checkValidation($event)"
          required
          rows="30"
          cols="50"
          matInput
          placeholder="Write your blog!!!"
        ></textarea>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button
        mat-stroked-button
        color="accent"
        [disabled]="notValidated"
        (click)="saveBlog()"
      >
        Save Blog!
      </button>
    </mat-card-actions>
  </mat-card>
</div>
