<div class="main-container">
  <mat-card class="animated fadeIn">
    <mat-card-header>
      <mat-card-title>{{viewBlog.title}}</mat-card-title>
      <mat-card-subtitle>{{viewBlog.description}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content style="margin: 0 16px">
      <p>
        {{viewBlog.html}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <textarea (keyup)="handleCommentText($event)" [(ngModel)]="commentText" cols="5" rows="10"></textarea>
      <button [disabled]="buttonDisable" mat-stroked-button>Comment</button>

      <div class="commentSection">
        <div *ngFor="let comment of viewBlog.comments" class="comment">
          <span>{{comment.name}}</span>
          <p>{{comment.text}}</p>
        </div>
      </div>
    </mat-card-actions>
  </mat-card>
