<div class="section group animated fadeInLeft">
  <div class="col span_1_of_2">
    <mat-card class="login-card">
      <div class="login-div">
        <mat-form-field>
          <input matInput type="text" [(ngModel)]="formData.userName" placeholder="Enter Your Username" />
        </mat-form-field>
        <mat-form-field>
          <input matInput type="password" [(ngModel)]="formData.userPassword" placeholder="Enter Your Password" />
        </mat-form-field>

        <button mat-raised-button [disabled]="loading" (click)="loginUser()" class="submit-button">
          <span>
            Login!!
          </span>
        </button>
      </div>
    </mat-card>
  </div>
</div>