<!-- <mat-grid-list cols="2" rowHeight="2:2">
  <mat-grid-tile class="grid-tile">
    <mat-card class="login-card">
      <div class="login-div">
        <input
          type="text"
          [(ngModel)]="formData.userName"
          placeholder="Enter Your Username"
        />
        <input
          type="password"
          [(ngModel)]="formData.userPassword"
          placeholder="Enter Your Password"
        />
        <button mat-raised-button (click)="loginUser()" class="submit-button">
          <span *ngIf="!loading">
            Login!!
          </span>
          <mat-spinner *ngIf="loading"></mat-spinner>
        </button>
      </div>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list> -->




<div class="section group">
	<div class="col span_1_of_2">
    <mat-card class="login-card">
      <div class="login-div">
        <input
          type="text"
          [(ngModel)]="formData.userName"
          placeholder="Enter Your Username"
        />
        <input
          type="password"
          [(ngModel)]="formData.userPassword"
          placeholder="Enter Your Password"
        />
        <button mat-raised-button (click)="loginUser()" class="submit-button">
          <span *ngIf="!loading">
            Login!!
          </span>
          <mat-spinner *ngIf="loading"></mat-spinner>
        </button>
      </div>
    </mat-card>
	</div>
</div>