<div class="section group animated fadeInLeft">
  <div class="col span_1_of_2">
    <mat-card class="login-card">
      <div class="login-div">
        <mat-form-field>
          <input matInput type="text" [(ngModel)]="formData.username" placeholder="Enter Your Username" />
        </mat-form-field>
        <mat-form-field>
          <input matInput type="password" [(ngModel)]="formData.password" placeholder="Enter Your Password" />
        </mat-form-field>

        <button mat-raised-button (click)="loginUser()" class="submit-button" [style.padding]="loading ? '10px': '0'">
          <span *ngIf="!loading">
            Login!!
          </span>
          <mat-spinner color="accent" diameter="20" *ngIf="loading"></mat-spinner>
        </button>
      </div>
    </mat-card>
  </div>
</div>