.main-container {
  padding: 15px;

  .blog-container {
    position: relative;
    margin-bottom: 10px;
  }

  .overlayContainer {
    position: absolute;
    background: #00000066;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .floatingicon {
    position: fixed;
    outline: none;
    cursor: pointer;
    z-index: 1;
    background: #b1b1b1;
    border-radius: 30px;
    padding: 5px;
    top: 70px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.45);
    right: 10px;

    img {
      width: 40px;
    }
  }

  .heart {
    width: 20px;
    height: 20px;
  }

  .mat-card-actions {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  .mat-spinner {
    width: 50px !important;
    height: 50px !important;

    .mat-progress-spinner svg {
      width: 50px !important;
      height: 50px !important;
    }
  }
}
